.dashItem-content{
  width: 95%;
  margin: 60px auto;
}

.dashItem-header{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 30px;
}

.header-button-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px 0;
}

.dashItem-header .header-title{
    font-size: 15px;
    color: #fff;
    font-weight: 300;
}

.student-info-slider-container {
  width: 100%;
  overflow: hidden;
}

.student-info-slider {
  display: flex;
  gap: 30px;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding: 20px;
  cursor: grab;
  background: #ffffff08;
  margin-bottom: 20px;
  border-radius: 16px;
}

.student-info-slider::-webkit-scrollbar {
  display: none;
}

.student-info-slider.active {
  cursor: grabbing;
}

.student-info-card {
    min-width: 300px;
    height: 160px;
    border: 1px solid rgb(245, 222, 179,0.1);
    box-shadow: 2px 2px 20px 3px rgba(0,0,0,0.2);
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.185) 0%, rgba(255, 255, 255, 0) 100%);
    backdrop-filter: blur(16px);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    user-select: none;
}


.student-card-info-header{
    height: 70px;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    border-radius: 5px;
}

.info-header-icon{
    font-size: 45px;
    color: rgb(64, 249, 255);
}

.student-card-info-header-item h6{
    font-size: 15px;
    cursor: pointer;
    font-weight: 500;
    color: #ffb4b4;
    letter-spacing:1px;
    text-transform: lowercase;
    text-decoration: underline;
}

.student-card-info-header-item h5{
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #fff;
}

.student-card-info-body{
    height: 100%;
    width:  100%;
    padding: 10px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.student-card-info-body h5{
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #fff;
}

.student-card-info-body h6{
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #fff;
    text-transform: lowercase;
}

.details-action-btn{
    background: #efefef;
    padding: 8px 13px;
    outline: none;
    border: none;
    position: absolute;
    right: 10px;
    bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    gap: 5px;
    font-size: 10px;
    cursor: pointer;
    box-shadow: 0px 1px 5px rgba(255,255,255,0.3);

    &:hover{
        color: rgb(0, 0, 0,1);
        border:1px solid rgb(255, 255, 255,0.7);
        background: white;
    }
}

.details-table-action{
    background: #efefef;
    padding: 5px 10px;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    gap: 5px;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 0px 1px 5px rgba(255,255,255,0.3);

    &:hover{
        color: rgb(0, 0, 0,1);
        border:1px solid rgb(255, 255, 255,0.7);
        background: white;
    }
}