.dashItem-content{
  width: 95%;
  margin: 60px auto;
}

.dashItem-header{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 30px;
}

.header-button-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px 0;
}

.dashItem-header .header-title{
    font-size: 15px;
    color: #fff;
    font-weight: 300;
}

.student-info-slider-container {
  width: 100%;
  overflow: hidden;
}

.student-info-slider {
  display: flex;
  gap: 1rem;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  cursor: grab;
}

.student-info-slider::-webkit-scrollbar {
  display: none;
}

.student-info-slider.active {
  cursor: grabbing;
}

.student-info-card {
    min-width: 350px;
    height: 180px;
    background: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    user-select: none;
}


.student-card-info-header{
    background: #efefef;
    height: 70px;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    border-radius: 5px;
}

.info-header-icon{
    font-size: 45px;
    color: rgb(0, 128, 0,0.7);
}

.student-card-info-header-item h6{
    font-size: 12px;
    font-weight: 300;
    text-decoration: underline;
    color: rgb(0, 0, 255,0.6);
    letter-spacing: 1px;
}

.student-card-info-header-item h5{
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #000;
}

.student-card-info-body{
    height: 100%;
    width:  100%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    position: relative;
}

.student-card-info-body h5{
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #000;    
}

.student-card-info-body h6{
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    color: #000;
}

.action-btn{
    background: #efefef;
    padding: 5px 16px;
    outline: none;
    border: 1px solid #000;
    position: absolute;
    right: 10px;
    bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 12px;
    cursor: pointer;

    &:hover{
        color: rgb(0, 128, 0,0.7);
        border:1px solid rgb(0, 128, 0,0.7);
        background: transparent;
    }
}