.dashboard-layout{
	max-width: 2000px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background: #004a62;
	overflow: hidden;
}

.dash-content{
	width: 100vw;
	height: 100vh;
	overflow-y: auto;
	position: relative;
}

.dash-nav {
	width: 200px;
	height: 100%;
	overflow: hidden;
	position: fixed;
	top: 0;
	z-index: 22;
	left: -200px;
	transition: left 0.3s ease-in;
	border-right: 3px solid white;
}

.dash-nav.active {
	left: 0; 
}

.dash-nav.hide {
	left: -200px; 
}

.dash-nav-element{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	width: 100%;
	padding: 15px;
	margin: 0 auto;
	color: white;
	background: #002633;
}

.dash-nav-header{
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: start;
	gap: 30px;
}

.dash-nav-header h1:nth-child(1){
	font-size: 24px;
	margin-left: 30px;
}

.dash-nav-header h1:nth-child(2){
	font-size: 14px;
}

.dash-nav-body{
	width: 100%;
	height: 80vh;
	overflow-y: auto;
	overflow-x:hidden;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: start;
	gap: 10px;
	padding: 20px 0;
}

.nav-link{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: start;
	text-decoration: none;
	gap: 10px;
	font-size: 20px;
	color: #b6b6b6;
	margin-top: 5px;
}

.nav-link-title{
	font-size: 15px;
	font-weight: 400;
}

.nav-link-icon{
	width: 22px;
	font-weight: 400;
}

.nav-link:hover{
	transition: .3s ease-in-out;
	scale: 1.02;
}

.not-link{
	color: #fff;
	text-decoration: none;
	font-size: 20px;
	font-weight: 300;
	margin-top: 50px;
}

.dash-item-header{
	position: fixed;
	top: 0;
	width: 100%;
	height: auto;
	padding: 10px 15px;
	background: #004a62;
	box-shadow: 0 2px 10px #2ec8fb;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: start;
	gap: 20px;
	z-index: 20;
}


.nav-icon-btn{
	position: fixed;
	left: 13px;
	top: 17px;
    background: transparent;
    border: none;
	font-size: 25px;
    color: white;
	transition: .3s ease-in-out;
	z-index: 15;
}

.nav-logout-btn{
	position: fixed;
	right: 30px;
	top: 20px;
    background: transparent;
    border: none;
	font-size: 20px;
    color: white;
	transition: .3s ease-in-out;
	margin-right: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	z-index: 15;
}


.nav-icon-home-btn{
	position: fixed;
	right: 15px;
	top: 20px;
	font-size: 20px;
	transition: .3s ease-in-out;
    background: transparent;
    border: none;
    color: white;
}

.nav-logout-btn:hover .nav-icon{
	scale: .8;
}

.nav-icon-home-btn:hover .nav-icon{
	scale: .8;
}

.nav-icon-btn:hover .nav-icon{
	scale: .8;
}

.dash-item{
	width: 100%;
	height: 100%;
}

.dash-item-content{
	width: 100%;
	margin-top: 11vh;
	z-index: -1;
}

.dash-nav-footer{
	width: 100%;
	text-align:start;
}

.footer-nav{
	text-decoration: underline;
	color: whitesmoke;
	transition: .3s ease-in-out;
}

.footer-nav:hover{
	transform: translateY(-10px);
	color: #ffaaaa;
}

.header-title{
	display: flex;
	align-items: start;
	justify-content: start;
	flex-direction: column;
	margin-left: 30px;
}

.header-title h1{
    font-size: 16px;
	font-weight: 300;
}

@media screen and (max-width:450px) {
	.dash-nav {
		width: 200px;
		height: 100%;
		background: #004a62;
		border-right: 3px solid white;
		position: fixed;
		top: 0;
		left: -75vw;
		transition: left 0.5s ease-in;
	}

	.dash-nav.active {
		left: 0; 
	}

	.dash-nav.hide {
		left: -200px; 
	}

}
