.banner-container{
    width: 100%;
    background: rgba(0,74,98,1);
    height: 95vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}


.banner-content{
    max-width: 1210px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    padding: 25vh 10px;
    z-index: 2;
}

.banner-part{
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    max-width:600px ;
    gap: 20px;
}

.banner-photo{
    object-fit: contain; 
    width: 750px;
    height: 400px;
}

.banner-part h4{
    font-size: 62px;
    font-weight: 300;
    color: #fff;
    padding-bottom: 15px;
}

.banner-part p{
    font-size: 24px;
    font-weight: 300;
    color: #fff ;
    padding-bottom: 15px;
}

.banner-buttons{
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}

.banner-button{
    line-break: none;
    color: #fff;
    white-space: nowrap;
    font-size: 16px;
    border: none;
    text-decoration: underline;
}


.banner-button-3rd{
    line-break: none;
    color: #fff;
    white-space: nowrap;
    background: transparent;
    font-size: 16px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}


.banner-button:hover{
    background: rgb(0, 56, 129);
}


.banner-bottom-text{
    font-size: 14px;
    color: #fff;
    font-weight: 300;
}

.banner-addition{
    max-width: 1200px;
    width: 100%;
    margin: -8vh auto 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
}


.achiev{
    background:rgba(0,74,98,1);
    min-width: 280px;
    padding: 20px;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow:1px 1px 10px 1px #fff;
    object-fit: contain;
    flex: 1;
}

.achiev-photo{
    width:  55px;
    height: 55px;
    object-fit: contain;
    box-shadow: 3px 3px 29px 1px #fff;
}

.achiev-details{
    height: 100%;
    gap: 5px;
}

.achiev-details h1{
    color: #fff;
    font-size: 25px;
    font-weight: 700;
}

.achiev-details p{
    color: #fff;
    font-size: 22px;
    font-weight: 500;
}
@media screen and (max-width:450px) {
    
    .banner-container{
        height: auto;
        padding: 10px;
    }
    .banner-content{
        width: 100%;
        align-items: start;
        justify-content: center;
        gap: 60px;
        flex-direction: column;
        padding: 10vh  20px;
    }
    
    .banner-part{
        gap: 40px;
    }

    
    .banner-photo{
        object-fit: contain; 
        width: 95%;
        height: 300px;
    }
    
    .banner-part h4{
        font-size: 48px;
        font-weight: 600;
    }
    .banner-part p{
        font-size: 18px;
    }
    
    .banner-addition{
        max-width: 1200px;
        width: 90%;
        margin: 8vh auto 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 30px;
    }


}