.loader-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
    left: 0;
    font-size: 56px;
    z-index: 100000;
}