.subjects-container{
    width: 100%;
    height: auto;
    margin: 12vh auto 0;
}

.subjects-banner{
    background:linear-gradient(to right,rgba(0, 74, 98),rgb(0, 74, 98,0.3)),url('https://i.ibb.co.com/JRgV0m8/Green-Watercolour-Opening-Soon-Banner.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
}

.subjects-banner-content{
    height: 100%;
    width: 100%;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.subjects-banner-content h1{
    font-size: 55px;
    font-weight: 700;
    color: #fff;
}

.subjects-banner-content p{
    font-size: 25px;
    font-weight: 400;
    color: #fff;
}

 .subjects-banner-content button{
    padding: 7px 30px;
    background: #fff;
    border: none;
    margin-top: 30px;
 }

 .subjects-content{
    padding: 10px;

 }

.subject-card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 40px 0;
    gap: 40px;
}

.single-subject{
    height: 680px;
    width: 380px;
    background: rgba(217, 234, 240, 0.9);
    border: 1px solid rgba(0, 74, 98,0.9);
    border-radius: 15px;
    position: relative;
    padding: 15px;
}

.single-subject:hover{
    background: rgba(0, 74, 98,0.9);
}

.subject-header{
    width: 90%;
    margin: 0 auto;
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    border-radius: 20px 20px;
    background: #fff;
    box-shadow: 2px 2px 10px 2px rgba(0, 74, 98,0.9);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.apply-now{
    object-fit: contain;
    margin: 0 auto;
    position: absolute;
    left: 10px;
    bottom: 20px;
    color: #fff;
    background: rgb(0, 74, 98);
    border: 1px solid rgb(0, 74, 98);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.subject-header p{
    font-size: 20px;
}

.additional{
    margin-top: 90px;
    margin-bottom: 80px;
}

.additional h4{
    font-size: 20px;
    color: rgb(0, 74, 98);
}

.additional h5{
    font-size: 14px;
    color: rgb(0, 0, 0);
    text-align: justify;
    padding: 10px;
}

.single-subject:hover h4{
    color: #fff;
}

.single-subject:hover h5{
    color: #fff;
}

.addition-data{
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    border-radius: 20px 20px;
    background: #fff;
    margin-top: 10px;
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.navigation button{
    border: none;
    background: transparent;
    font-size: 15px;
}

@media screen and (max-width:450px) {
    .single-subject{
        width: 95%;
    }
}