.popular-container{
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 15vh 0 5vh;
}


.popular-courses{
    max-width: 1240px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.footer-wave-path{
    fill: rgba(0,74,98);
}

.courses-tag{
    color: #fff;
    text-align: center;
}

.courses-tag span{
    color: rgba(255, 255, 255);
}

.courses{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    padding: 30px 5px;
}
.single-course{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: 2px solid rgba(255, 255, 255,0.3);
    padding: 10px 30px;
    width:fit-content;
    border-radius: 5px;
    cursor: pointer;
    background: rgba(0, 0, 0,0.3);
    backdrop-filter: blur(30px);
}


.single-course:hover{
    border: 2px solid rgb(189, 189, 189);
}

.single-course-icon{
    color: #fff;
    font-size: 22px;
}

.single-course-heading{
    color: #fff;
    font-size: 20px;
}

.see-all{
    padding: 12px 25px;
    font-size: 17px;
    width: fit-content;
    display: block;
    margin: 20px auto;
    border-radius: 3px;
    background: rgba(0,74,98);
    border: none;
    color: #fff;
}


.see-all:hover{
    background: rgb(1, 50, 67);
}



@media screen and (max-width:450px) {
    .courses{
        gap: 5px;
    }
    .courses-tag{
        padding-left: 10px;
    }
    .single-course{
        padding: 5px 10px;
    }

    
    .single-course-icon{
        font-size: 12px;
    }

    .single-course-heading{
        font-size: 12px;
    }

}
