.k12-container{
    width: 100%;
    height: auto;
    margin: 10vh auto 0;
}

.k12-banner{
    min-height: 60vh;
    background: linear-gradient(to right,rgb(0,0,0,0.5),rgba(0,0,0,0.1)),url('https://i.ibb.co.com/VvSHJKf/Untitled-design-1.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}