.pg-a {
    color: #fff;
    text-decoration: none;
}

.pg-footer {
    background-color: rgba(0,74,98);
    color: #fff;
}

.pg-footer-wave-svg {
    background-color: transparent;
    display: block;
    height: 30px;
    position: relative;
    top: -1px;
    width: 100%;
}

.pg-footer-wave-path {
    fill: #fffff2;
}

.pg-footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1240px;
    position: relative;
}

.pg-footer-content-column {
    box-sizing: border-box;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    color: #fff;
}

.pg-footer-content-column ul li a {
    color: #fff;
    text-decoration: none;
}

.pg-footer-logo-link {
    display: inline-block;
}

.pg-footer-menu {
    margin-top: 30px;
}

.pg-footer-menu-name {
    color: #fffff2;
    font-size: 15px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}

.pg-footer-menu-list {
    list-style: none;
    margin-bottom: 0;
    margin-top: 10px;
    padding-left: 0;
}

.pg-footer-menu-list li {
    margin-top: 5px;
}

.pg-footer-call-to-action-description {
    color: #fffff2;
    margin-top: 10px;
    margin-bottom: 20px;
}

.pg-footer-call-to-action-button:hover {
    background-color: #fffff2;
    color: rgb(3, 195, 131);
}

.pg-footer-call-to-action-button {
    background-color: rgb(21, 182, 235);
    border-radius: 21px;
    color: #fffff2;
    display: inline-block;
    font-size: 11px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    padding: 12px 30px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color .2s;
    cursor: pointer;
    position: relative;
}

.pg-footer-call-to-action {
    margin-top: 30px;
}

.pg-footer-call-to-action-title {
    color: #fffff2;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}

.pg-footer-copyright {
    background-color: rgb(0, 41, 54);
    border-top: 2px solid #fff;
    color: #fff;
    padding: 15px 30px;
    text-align: center;
}

.pg-footer-copyright-text {
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
}

.pg-footer-copyright-link {
    color: #fff;
    text-decoration: none;
}

/* Media Queries */
@media (min-width: 760px) {
    .pg-footer-content {
        max-width: 1230px;
        padding: 40px 15px 450px;
    }

    .pg-footer-wave-svg {
        height: 50px;
    }

    .pg-footer-content-column {
        width: 24.99%;
    }

    
    .pg-footer-copyright {
        border-top: 2px solid #fff;
    }

}
