.university-table{
    width: 100%;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
}

.university-table h1{
    color: #fff;
    font-size: 25px;
    margin-bottom: 10px;
}

.table-container{
    width: 100%;
    overflow: auto;
}


#customers {
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
  color: #fff;
}

#customers tr:hover {
    background-color: rgb(0, 0, 0,0.2);
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #003f28;
    color: white;
}


.University-edit-btn{
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: transparent;
    color: #fff;
    font-weight: 700;

    &:hover{
        transition: .5s ease;
        scale: .85;
    }
}

.all-btn-container{
    display: flex;
    gap: 5px;
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 16px;
    scrollbar-width: thin;
    scrollbar-color: #ccc transparent;
}
.all-btn{
    padding: 2px 7px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    font-size: 11px;
    background: #f8f8f8;
    cursor: pointer;
    flex-shrink: 0;
    transition: background 0.2s ease;
    &:hover{
        scale: 1.05;
        background: #005f38;
    }
}

.pagination-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 12px;
    margin-top: 20px;
    align-items: end;
    flex-wrap: wrap;
}

.pagination-input{
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    width: 100%;
}