.nav-holder{
    width: 100%;
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
    background: transparent;
}

.nav-color{
    background: rgb(20, 6, 72);
}

.nav-content{
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 0 10px;
}

.nav-logo{
    width: 120px;
    height: 110px;
    object-fit: cover;
}


.nav-links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    list-style: none;
    height: 100%;
}


.link-holder{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    white-space:nowrap;
    height: 100%;
    width: 100%;
}

.drop-down{
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    gap: 50px;
    top: 10vh;
    right: 0;
    width: 100%;
    height: 40vh;
    background: rgb(11, 3, 38);
    border-top:.5px solid #fff;
    z-index: 999999;
}

.drop-down-content{
    max-width: 1250px;
    width: 100%;
    height: 100%;
    padding: 30px 0;
    display: flex;
    align-items: start;
    justify-content: space-around;
}

.drop-down-group{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.drop-down-link{
    color:#fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
}
.link-holder:hover{
    border-bottom: 2px solid white;
}

.link-holder:hover .drop-down{
    display: flex;
}

.link{
    color: #BCBCC4;
    text-decoration: none;
    font-weight: 100;
    font-size: 19px;
    line-height: 16px;
    gap: 5px;
}

.link-items{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.link-items button{
    font-size: 15px;
    padding: 7px 19px;
    font-weight: 700;
    border: none;
    border-radius: 3px;
    color: #2E34EA;
    background: #fff;
    transition: .2s all;
}

.link-items .dash{
    font-size: 15px;
    padding: 7px 19px;
    font-weight: 700;
    border: none;
    border-radius: 3px;
    color: #fff;
    background: #2E34EA;
    transition: .2s all;
}

.link-items .icon{
    color: #5aa2ff;
    font-size: 28px;
}

.link-items button:hover{
    transform:translateY(-5px)
}

.link-items .icon:hover{
    transform:translateY(-5px)
}

.menu-icon{
    display: none;
}



 
@media screen and (max-width:790px){
    .menu-icon{
        display: block;
        z-index: 99999999;
        font-size: 25px;
        color: #fff;
        margin-right: 10px;
    }

    .nav-links{
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items:center;
        flex-direction: column;
        justify-content: start;
        gap: 30px;
        background: #1a1a31;
        height: 100vh;
        width: 40vw;
        right: 0;
        top:0;
        padding: 8vh 20px 0 20px;
    }

    .show{
        animation: show-navbar .5s forwards;
    }

    .hide{
        animation: hide-navbar .5s forwards;
    }
    @keyframes show-navbar {
        from {
            right: -100%;
        }
        to {
            right: 0%;
        }
    }
    

    @keyframes hide-navbar {
        from {
            right: 0%;
        }
        to {
            right: -100%;
        }
    }
    .link-holder{
        width: 100%;
        height: auto;
    }

    .link{
        width: 100%;
        text-align: start;
    }

    .link-items{
        position: fixed;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 15vh;
        width:  40vw;
        background: rgb(9, 1, 37);
        padding: 10px;
    }
    .link-items button{
        width: 100%;
    }
} 


@media screen and (max-width:450px){
    .nav-links{
        width: 60vw;
    }
    .drop-down{
        position: fixed;
        display: none;
        align-items: center;
        justify-content: center;
        gap: 50px;
        top: 10vh;
        right: 0;
        width: 100%;
        height: auto;
        background: rgb(11, 3, 38);
        border-top:.5px solid #fff;
        z-index: 999999;
    }
    
    .drop-down-content{
        max-width: 1250px;
        width: 100%;
        height: 100%;
        padding: 30px 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }
    

    .link-items{
        width: 60vw;
        background: rgb(9, 1, 37);
    }

    .link-items button{
        width: 100%;
    }
}