
.blog-page-body{
    max-width: 1250px;
    width: 100%;
    margin: 0px auto;
    padding: 20px;
    box-sizing: border-box;
}


.blog-tag-list{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.blog-tag-list button{
    background: transparent;
    border: none;
    border-radius: 20px;
    padding: 8px 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 14px;
    white-space: nowrap;
} 

.blog-tag-list button:hover{
    background: #002c3a;
    color: white;
}

.blog-tag-list button.active{
    background: #002c3a;
    color: white;
}

.blog-list{
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 20px;
}


@media screen and (max-width:900px) {
    .blog-list{
      grid-template-columns: none;
    }
}