*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* ,url('../assets/Banner.jpg') */
.home-contain{
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.home-contain > :nth-child(n):not(:first-child) {
  border-top: 2px solid #fff;
}

.home-contain > :nth-child(1){
  padding-top: 20vh;
}


.home-contain > :nth-child(odd) {
  background: #efefef;
}