.unioption-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 4rem 1rem;
}

.unioption-header {
    text-align: center;
    margin-bottom: 1.5rem;
}

.unioption-title {
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 0.5rem;
}

.unioption-title span {
    color: #008080;
}

.unioption-description {
    font-size: 1rem;
    color: #555;
    max-width: 600px;
    margin: 0 auto;
}

.uni-carousel {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    user-select: none;
    scrollbar-width: none;
}

.uni-card {
    flex: 0 0 auto;
    width: clamp(250px, 30vw, 340px);
    height: 240px;
    border-radius: 1rem;
    position: relative;
    scroll-snap-align: start;
    overflow: hidden;
    background: #eee;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.uni-card:hover {
    transform: translateY(-1px);
}

.uni-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.uni-flag {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 4px;
    z-index: 2;
    box-shadow: 1px 1px 10px rgba(0,0,0,.4);
}

.uni-overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.8) 100%);
    z-index: 1;
}

.uni-details {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 2;
    color: #fff;
}

.uni-details h3 {
    font-size: 1.1rem;
    margin-bottom: 0.25rem;
}

.uni-details button {
    margin-top: 0.3rem;
    background: #F9C748;
    color: #000;
    border: none;
    padding: 0.4rem 0.8rem;
    border-radius: 0.5rem;
    font-size: 0.85rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

.uni-details button:hover {
    background: #00a0a0;
    color: #fff;
}

.uni-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    gap: 1rem;
}

.uni-nav-btn {
    background:#008080;
    color: #fff;
    border: none;
    width: 40px;
    height:40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0px 1px 5px #000;
    transition: background 0.3s ease;
}

.uni-nav-btn:hover {
    background: #00a5a5;
}

@media (max-width: 600px) {
    .unioption-title {
        font-size: 1.5rem;
    }
    .unioption-description {
        font-size: 0.9rem;
    }
}
