.sAdmin{
    width: 95%;
    margin: 0 auto;
    padding: 60px 0;
}

.sAdmin-header{
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.sAdmin-header h1{
    color: white;
    font-size: 20px;
    font-weight: 300;
}


.sAdmin-header button{
    padding: 9px 12px;
    border-radius: 3px;
    background: rgba(255,255,255,0.3);
    box-shadow: 4px 4px 30px 0px rgb(0, 0, 0,0.9);
    font-weight: 400;
    color: #fff;
    border: none;
    width: fit-content;
    position: relative;
    &:hover{
        transform: scale(1.01);
    }
}

.admin-create{
    visibility:hidden;
    opacity: 0;
}

.create-show{
    position: absolute;
    right: 3%;
    top: 95px;
    border-radius: 5px;
    width: 250px;
    height: auto;
    background: linear-gradient(135deg, #002c3a, #005577, #0088aa);
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    padding: 15px;
    transition: 1s ease-in-out;
    z-index: 1;
    opacity: 1;
    visibility:visible;
    transition: 1s ease-in-out;
}

.create-show h1{
    font-size: 15px;
    color: #fff;
    margin: 5px;
    font-weight: 400;
}


.create-show h1::before{
    content: '⚙️ ';
}

.create-show form{
    height: 100%;
    width:  100%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
}

.create-show form input{
    padding: 8px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 2px;
}

.create-show form button{
    padding: 6px 8px;
    border: none;
    border-radius: 3px;
    background: rgba(236, 90, 90, 0.623);
    color: #fff;

    &:hover{
        background: rgba(236, 90, 90, 0.523);
    }
}

.table-container-users{
    width: 95%;
    overflow: auto;
    margin: 0px auto;
    padding: 10px;
}


.table-container-users table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
  color: white;
}


tr:hover {
    background-color: #006080;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #006080;
}

.table-img{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 10px;
}

select{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background: rgba(255,255,255,0.3);
    color: #000;
    border: none;
    font-weight: 600;
}
.delete-users-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
    border: none;
    cursor: pointer;
    background: #f14040;
}

.filter-header{
    width: 110px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    color: #000;
    position: fixed;
    top: 80px;
    right: 30px;
}

.filter-header p{
    font-size: 18px;
    font-weight: 600;
    color: #000;
}

.filter-header button{
    font-size: 12px;
    width: 30px;
    height:30px;
    border-radius: 7px;
    border: none;
    background: green;
    color: #fff;
}

.filter-container {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 200px;
  height: auto;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.filter-container.show {
  opacity: 1;
  visibility: visible;
}

.filter-container input{
    width: 100%;
    padding: 6px;
    border-radius: 5px;
    background: rgba(255,255,255,0.8);
    color: #000;
    border: none;
    font-weight: 600;
    margin-bottom: 10px;

}
.filter-status{
    color: #fff;
    font-weight: 200;
    font-size: 14px;
    margin: 10px 0;
}

@media screen and (max-width: 608px) {
    .filter-header{
        right: 15px;
    }
    
}
