.double-input-container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
    gap: 10px;
}

.input-container{
    width: auto;
    display: flex;
    flex-basis: 48%;
    flex-direction: column;
    margin: 10px 0;
    align-items: start;
    justify-content: start;
    gap: 10px;
}

.phase-title{
    margin: 30px 0 10px;
}

.input-container label{
  font-size: 0.9rem;
  color: #444;
  margin-bottom: 5px;
}

.input-container input,textarea{
    width: 100%;
    padding: 8px 10px;
    border-radius: 6px;
    color: #000;
    font-weight: 600;
    border: 1px solid #ccc;
    outline: none;
    transition: border 0.2s ease;
}

.input-container input[type="file"]{
    width: 100%;
    padding: 15px;
    background: #f8fafccc;
    border: 2px dashed #d1d5db;
    cursor: pointer;
}

.input-container .error{
    color: red;
    font-size: 14px;
    cursor: pointer;
}

.input-container select{
    border: 1px solid #efefef;
    padding: 15px;
    border-radius: 5px;
    background-color:#6f8c96;
    color: #fff;
}

.checkbox-container{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    gap: 10px;
    margin: 10px 0;
}


.or{
    width: 100%;
    text-align: center;
    margin: 20px 0;
    border-top: #004a62 1px dashed;
    font-weight: 500;
}

.or::after{
    content: "or";
    display: inline-block;
    position: relative;
    top: -13px;
    padding: 0 10px;
    background: #fff;
    color: #004a62;
    font-size: 14px;
}

.final{
    width: 100%;
    text-align: center;
    margin: 20px 0;
    border-top: #004a62 1px dashed;
    font-weight: 500;
}

.final::after{
    content: "this file is initialized by";
    display: inline-block;
    position: relative;
    top: -13px;
    padding: 0 10px;
    background: #fff;
    color: #004a62;
    font-size: 14px;
}


.exam-accordion {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.exam-item {
    position: relative;
    border-bottom: 1px solid #e5e5e5;
}

.exam-toggle {
    display: none;
}

.exam-title {
    display: block;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    padding: 12px 16px;
    transition: all 0.3s ease;
    background: #f9f9f9;
}

.exam-title:hover {
    background: #f1f1f1;
}

.exam-plus {
    position: absolute;
    right: 16px;
    top: 14px;
    font-weight: bold;
    transition: transform 0.3s ease;
}

.exam-toggle:checked + .exam-plus {
    transform: rotate(45deg);
}

.exam-content {
    display: none;
    padding: 10px 16px 20px;
    background: #fff;
}

.exam-toggle:checked ~ .exam-content {
  display: block;
}

.checkbox-section {
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 8px;
}


.remove-btn {
    background: #c73030;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin: 10px 0;
}

.add-btn {
    background: #28a745;
    color: white;
    border: none;
    padding: 8px 16px;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}