.university-table{
    width: 100%;
    background: rgb(0, 0, 0,0.2);
    padding: 10px;
    position: relative;
    border-radius: 12px;
    margin: 50px auto 10px;
}

.total-reasult{
    font-size: 14px;
    color: #fff;
    border-bottom:1px solid #ccc;
    width: 100%;
}

.all-btn-container{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    user-select: none;
    gap: 10px;
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: #ccc transparent;
    padding: 10px;
    white-space: nowrap;
}
.all-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 5px ;
    border-radius: 5px;
    color: #000;
    font-size: 13px;
    font-weight: 300;
    border: none;
    background: #fff;
    cursor: pointer;
}


/* 
.filter-header-uni{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
    padding: 10px 0;
    color: white;
    position: relative;
}

.filter-tag{
    font-size: 20px;
    font-weight: 300;
    color: #fff;
}

.filter-header-uni button{
    font-size: 12px;
    width: 30px;
    height:30px;
    border-radius: 7px;
    border: none;
    background: green;
    color: #fff;
}









.pagination-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 12px;
    margin-top: 20px;
    align-items: end;
    flex-wrap: wrap;
}

.pagination-input{
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    width: 100%;
}
 */
